@import 'settings';
@import '../../../node_modules/foundation-sites/scss/components/float';

@include breakpoint(small up) {

  @include foundation-float-classes;

  .no-js {

    .h-entry {

      h2 {
        font-weight: $global-weight-bold;
      }

    }

  }

  .h-entry {

    margin-bottom: 2rem;
		padding-top: 4.75rem;

    h2 {
      text-align: center;
      line-height: 1;
    }

    figure {

      margin: 0.5rem 0;

      &.natural {

        img {
          width: inherit;
        }

        margin: 0.5rem 1rem;
        
      }

      img {
        width: 100vw;
      }

      figcaption {
        font-style: italic;
        color: silver;
        padding: .5rem 0;
      }

    }

    blockquote {
      display: block;
      padding: 15px 20px 15px 45px;
      margin: 0 0 20px;
      position: relative;
      text-align: justify;
      border-left: 15px solid map-get($foundation-palette, primary);
      border-right: 2px solid rgba(scale_color(map-get($foundation-palette, primary), -20%), 0.5);

      cite {
        margin: 1rem 0 0;
      }
    }

    time {
      color: silver;
    }

    .meta-data {
      justify-content: center;
      margin-bottom: 1rem;
      margin-top: 1rem;

      .nav-option {

        padding: 0;
        margin: 0 4rem;

      }

    }

    .icon {

      line-height: 1;
      vertical-align: -10%;

      > svg {
        height: 1rem;
        width: 1rem;
      }

      &.link {

        fill: map-get($foundation-palette, primary);
        -webkit-transition: fill 200ms ease-in-out;
        -moz-transition: fill 200ms ease-in-out;
        -o-transition: fill 200ms ease-in-out;
        transition: fill 200ms ease-in-out;

        &:hover {
          fill: scale-color(map-get($foundation-palette, primary), $lightness: -20);
        }

      }

    }

    .gallery-block {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
      line-height: 0;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
      border: 1px solid #eee;
      background: #f1f1f1;
      margin-bottom: 1rem;

      img {
        padding: 3px;
      }

    }

    .tag {
      display: inline;
      background-color: map-get($foundation-palette, primary);
      color: #FFF;
      padding: 0.1rem 0.3rem;
      margin: 0 0.15rem;
      border-radius: 3px;
      font-size: 0.8rem;
      -webkit-transition: background-color 200ms ease-in-out;
      -moz-transition: background-color 200ms ease-in-out;
      -o-transition: background-color 200ms ease-in-out;
      transition: background-color 200ms ease-in-out;

      > svg {
        fill: #FFF;
      }

      &:hover {
        background-color: scale-color(map-get($foundation-palette, primary), $lightness: -20);
      }

    }

  }

}

@include breakpoint(medium up) {

  .h-entry {

    h2 {
      max-width: 75%;
      margin: 0 auto;
    }


    .text-block {
      margin: 0 auto;
      width: 90%;

      p,
      blockquote {
        font-size: 1.2rem;
        line-height: 1.8;
        margin: 1.5rem 0;
      }

    }

    .gallery-block {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }

  }

}

@include breakpoint(large up) {

  .h-entry {

    .text-block {
      margin: 0 auto;
      width: 85%;

      p,
      blockquote {
        font-size: 1.5rem;
        margin: 2rem 0;
      }

    }

    .gallery-block {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }

  }

}