@import 'settings';

@include breakpoint(small up) {

  .no-js {

    .h-entry {

      h2 {
        font-weight: $global-weight-bold;
      }

    }

  }

  .h-entry {

    padding-top: 4.75rem;

    h2 {
      text-align: center;
      line-height: 1;
    }

    figure {

      margin: 0.5rem 0;

      img {
        width: 100vw;
      }

      figcaption {
        font-style: italic;
        color: silver;
        padding: .5rem 0;
      }

    }

    blockquote {
      display: block;
      padding: 15px 20px 15px 45px;
      margin: 0 0 20px;
      position: relative;
      text-align: justify;
      border-left: 15px solid map-get($foundation-palette, primary);
      border-right: 2px solid rgba(scale_color(map-get($foundation-palette, primary), -20%), 0.5);

      cite {
        margin: 1rem 0 0;
      }
    }

    time {
      color: silver;
    }

    .meta-data {
      justify-content: center;
      margin-bottom: 1rem;
      margin-top: 1rem;

      .nav-option {

        padding: 0;
        margin: 0 4rem;

        .icon.link {
          fill: map-get($foundation-palette, primary);
          -webkit-transition: fill 200ms ease-in-out;
          -moz-transition: fill 200ms ease-in-out;
          -o-transition: fill 200ms ease-in-out;
          transition: fill 200ms ease-in-out;
          &:hover {
            fill: scale-color(map-get($foundation-palette, primary), $lightness: -20);
          }
        }

        .icon-heart {
          fill: #333;
          padding-top: .5rem;
        }

      }



    }

  }

}

@include breakpoint(medium up) {

  .h-entry {

    h2 {
      max-width: 75%;
      margin: 0 auto;
    }


    .text-block {
      margin: 0 auto;
      width: 90%;

      p,
      blockquote {
        font-size: 1.2rem;
        line-height: 1.8;
        margin: 1.5rem 0;
      }

    }

  }

}

@include breakpoint(large up) {

  .h-entry {

    max-width: 1400px;

    .text-block {
      margin: 0 auto;
      width: 85%;

      p,
      blockquote {
        font-size: 1.5rem;
        margin: 2rem 0;
      }

    }

  }

}