@import 'settings';

@include breakpoint(small up) {

  .no-js {

    .h-entry {

      h2 {
        font-weight: $global-weight-bold;
      }

    }

  }

  .h-entry {

    padding-top: 3.75rem;

    h2 {

      color: $body-font-color;
      display: table;
      margin: 1rem auto;
      text-decoration: none;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, $body-font-color 2px, $body-font-color 3px, rgba(0, 0, 0, 0) 3px);
      line-height: 1.3;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {

        h2 {
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, $body-font-color 2px, $body-font-color 2.5px, rgba(0, 0, 0, 0) 2.5px);
        }

      }

    }

    figure {

      margin: 0.5rem 0;

      img {
        width: 100vw;
      }

      figcaption {
        font-style: italic;
        color: silver;
        padding: .5rem 0;
      }

    }

    blockquote {
      display: block;
      padding: 15px 20px 15px 45px;
      margin: 0 0 20px;
      position: relative;
      text-align: justify;
      border-left: 15px solid map-get($foundation-palette, primary);
      border-right: 2px solid rgba(scale_color(map-get($foundation-palette, primary), -20%), 0.5);

      cite {
        margin: 1rem 0 0;
      }
    }

    time {
      color: silver;
      font-size: .8rem;
    }

    .meta-data {
      justify-content: center;
      margin-bottom: 1rem;
    }

  }

}

@include breakpoint(medium up) {

  .h-entry {

    h2 {
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, $body-font-color 3px, $body-font-color 4px, rgba(0, 0, 0, 0) 3px);
      line-height: 1.1;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {

        h2 {
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, $body-font-color 3px, $body-font-color 3.5px, rgba(0, 0, 0, 0) 3.5px);
        }

      }
    }

    .text-block {
      margin: 0 auto;
      width: 90%;

      p,
      blockquote {
        font-size: 1.2rem;
        line-height: 1.8;
        margin: 1.5rem 0;
      }

    }

  }

}

@include breakpoint(large up) {

  .h-entry {

    max-width: 1400px;

    .text-block {
      margin: 0 auto;
      width: 85%;

      p,
      blockquote {
        font-size: 1.5rem;
        margin: 2rem 0;
      }

    }

  }

}