@import '../settings';

@mixin top-bar-override() {

  @include breakpoint(small up) {

    .top-bar {

      background-color: $white;
      border-bottom: 1px solid #e1e1e1;
      width: 100%;
      position: fixed;

      .primary-nav {
        background-color: $white;
        justify-content: center;

        li a {
          padding: 0 1rem;

          &.logo {
            background-color: map-get($foundation-palette, primary);
            color: $white;
            padding: .7rem 0;
            border-radius: 40px;
            height: 40px;
            text-align: center;
            width: 40px;
            display: inline-block;
            cursor: pointer;
            -webkit-transition: background-color 250ms ease-in-out;
            -moz-transition: background-color 250ms ease-in-out;
            -o-transition: background-color 250ms ease-in-out;
            transition: background-color 250ms ease-in-out;

            &:hover {
              background-color: scale-color(map-get($foundation-palette, primary), $lightness: -20%);
            }

          }

        }

      }

    }

    .headroom {
      will-change: transform;
      transition: transform 200ms linear;
    }

    .headroom--pinned {
      transform: translateY(0%);
    }

    .headroom--unpinned {
      transform: translateY(-100%);
    }

  }

  @include breakpoint(large up) {

    .top-bar {

      width: -webkit-calc(100% - 300px);
      width: calc(100% - 300px);
      max-width: 1400px;

    }

  }

}