{% extends "_layout" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/styles/min/h-entry.css"/>
{% endblock %}

{% set title = "about" %}

{% block content %}

  <div class="row align-center">
    <div class="columns small-12 medium-10">

      <div class="h-entry">
        <p>Please forgive the mess. Things are in flux.</p>
      </div>

    </div>
  </div>

{% endblock %}