{% extends "_layout" %}

{% block stylesheets %}
	<link rel="preload" href="/styles/min/h-entry.css" as="style" onload="this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/styles/min/h-entry.css"></noscript>
{% endblock %}

{% set title = "about" %}

{% block content %}

	{% cache %}

  <div class="row align-center">
    <div class="columns small-12 medium-10">

      <div class="h-entry">
        <p>Please forgive the mess. Things are in flux.</p>
      </div>

    </div>
  </div>

	{% endcache %}

{% endblock %}