
.icon-account-login {
	background-image: url('png/account-login.png');
	background-repeat: no-repeat;
}



.icon-account-logout {
	background-image: url('png/account-logout.png');
	background-repeat: no-repeat;
}



.icon-action-redo {
	background-image: url('png/action-redo.png');
	background-repeat: no-repeat;
}



.icon-action-undo {
	background-image: url('png/action-undo.png');
	background-repeat: no-repeat;
}



.icon-align-center {
	background-image: url('png/align-center.png');
	background-repeat: no-repeat;
}



.icon-align-left {
	background-image: url('png/align-left.png');
	background-repeat: no-repeat;
}



.icon-align-right {
	background-image: url('png/align-right.png');
	background-repeat: no-repeat;
}



.icon-aperture {
	background-image: url('png/aperture.png');
	background-repeat: no-repeat;
}



.icon-arrow-bottom {
	background-image: url('png/arrow-bottom.png');
	background-repeat: no-repeat;
}



.icon-arrow-circle-bottom {
	background-image: url('png/arrow-circle-bottom.png');
	background-repeat: no-repeat;
}



.icon-arrow-circle-left {
	background-image: url('png/arrow-circle-left.png');
	background-repeat: no-repeat;
}



.icon-arrow-circle-right {
	background-image: url('png/arrow-circle-right.png');
	background-repeat: no-repeat;
}



.icon-arrow-circle-top {
	background-image: url('png/arrow-circle-top.png');
	background-repeat: no-repeat;
}



.icon-arrow-left {
	background-image: url('png/arrow-left.png');
	background-repeat: no-repeat;
}



.icon-arrow-right {
	background-image: url('png/arrow-right.png');
	background-repeat: no-repeat;
}



.icon-arrow-thick-bottom {
	background-image: url('png/arrow-thick-bottom.png');
	background-repeat: no-repeat;
}



.icon-arrow-thick-left {
	background-image: url('png/arrow-thick-left.png');
	background-repeat: no-repeat;
}



.icon-arrow-thick-right {
	background-image: url('png/arrow-thick-right.png');
	background-repeat: no-repeat;
}



.icon-arrow-thick-top {
	background-image: url('png/arrow-thick-top.png');
	background-repeat: no-repeat;
}



.icon-arrow-top {
	background-image: url('png/arrow-top.png');
	background-repeat: no-repeat;
}



.icon-audio-spectrum {
	background-image: url('png/audio-spectrum.png');
	background-repeat: no-repeat;
}



.icon-audio {
	background-image: url('png/audio.png');
	background-repeat: no-repeat;
}



.icon-badge {
	background-image: url('png/badge.png');
	background-repeat: no-repeat;
}



.icon-ban {
	background-image: url('png/ban.png');
	background-repeat: no-repeat;
}



.icon-bar-chart {
	background-image: url('png/bar-chart.png');
	background-repeat: no-repeat;
}



.icon-basket {
	background-image: url('png/basket.png');
	background-repeat: no-repeat;
}



.icon-battery-empty {
	background-image: url('png/battery-empty.png');
	background-repeat: no-repeat;
}



.icon-battery-full {
	background-image: url('png/battery-full.png');
	background-repeat: no-repeat;
}



.icon-beaker {
	background-image: url('png/beaker.png');
	background-repeat: no-repeat;
}



.icon-bell {
	background-image: url('png/bell.png');
	background-repeat: no-repeat;
}



.icon-bluetooth {
	background-image: url('png/bluetooth.png');
	background-repeat: no-repeat;
}



.icon-bold {
	background-image: url('png/bold.png');
	background-repeat: no-repeat;
}



.icon-bolt {
	background-image: url('png/bolt.png');
	background-repeat: no-repeat;
}



.icon-book {
	background-image: url('png/book.png');
	background-repeat: no-repeat;
}



.icon-bookmark {
	background-image: url('png/bookmark.png');
	background-repeat: no-repeat;
}



.icon-box {
	background-image: url('png/box.png');
	background-repeat: no-repeat;
}



.icon-briefcase {
	background-image: url('png/briefcase.png');
	background-repeat: no-repeat;
}



.icon-british-pound {
	background-image: url('png/british-pound.png');
	background-repeat: no-repeat;
}



.icon-browser {
	background-image: url('png/browser.png');
	background-repeat: no-repeat;
}



.icon-brush {
	background-image: url('png/brush.png');
	background-repeat: no-repeat;
}



.icon-bug {
	background-image: url('png/bug.png');
	background-repeat: no-repeat;
}



.icon-bullhorn {
	background-image: url('png/bullhorn.png');
	background-repeat: no-repeat;
}



.icon-calculator {
	background-image: url('png/calculator.png');
	background-repeat: no-repeat;
}



.icon-calendar {
	background-image: url('png/calendar.png');
	background-repeat: no-repeat;
}



.icon-camera-slr {
	background-image: url('png/camera-slr.png');
	background-repeat: no-repeat;
}



.icon-caret-bottom {
	background-image: url('png/caret-bottom.png');
	background-repeat: no-repeat;
}



.icon-caret-left {
	background-image: url('png/caret-left.png');
	background-repeat: no-repeat;
}



.icon-caret-right {
	background-image: url('png/caret-right.png');
	background-repeat: no-repeat;
}



.icon-caret-top {
	background-image: url('png/caret-top.png');
	background-repeat: no-repeat;
}



.icon-cart {
	background-image: url('png/cart.png');
	background-repeat: no-repeat;
}



.icon-chat {
	background-image: url('png/chat.png');
	background-repeat: no-repeat;
}



.icon-check {
	background-image: url('png/check.png');
	background-repeat: no-repeat;
}



.icon-chevron-bottom {
	background-image: url('png/chevron-bottom.png');
	background-repeat: no-repeat;
}



.icon-chevron-left {
	background-image: url('png/chevron-left.png');
	background-repeat: no-repeat;
}



.icon-chevron-right {
	background-image: url('png/chevron-right.png');
	background-repeat: no-repeat;
}



.icon-chevron-top {
	background-image: url('png/chevron-top.png');
	background-repeat: no-repeat;
}



.icon-circle-check {
	background-image: url('png/circle-check.png');
	background-repeat: no-repeat;
}



.icon-circle-x {
	background-image: url('png/circle-x.png');
	background-repeat: no-repeat;
}



.icon-clipboard {
	background-image: url('png/clipboard.png');
	background-repeat: no-repeat;
}



.icon-clock {
	background-image: url('png/clock.png');
	background-repeat: no-repeat;
}



.icon-cloud-download {
	background-image: url('png/cloud-download.png');
	background-repeat: no-repeat;
}



.icon-cloud-upload {
	background-image: url('png/cloud-upload.png');
	background-repeat: no-repeat;
}



.icon-cloud {
	background-image: url('png/cloud.png');
	background-repeat: no-repeat;
}



.icon-cloudy {
	background-image: url('png/cloudy.png');
	background-repeat: no-repeat;
}



.icon-code {
	background-image: url('png/code.png');
	background-repeat: no-repeat;
}



.icon-cog {
	background-image: url('png/cog.png');
	background-repeat: no-repeat;
}



.icon-collapse-down {
	background-image: url('png/collapse-down.png');
	background-repeat: no-repeat;
}



.icon-collapse-left {
	background-image: url('png/collapse-left.png');
	background-repeat: no-repeat;
}



.icon-collapse-right {
	background-image: url('png/collapse-right.png');
	background-repeat: no-repeat;
}



.icon-collapse-up {
	background-image: url('png/collapse-up.png');
	background-repeat: no-repeat;
}



.icon-command {
	background-image: url('png/command.png');
	background-repeat: no-repeat;
}



.icon-comment-square {
	background-image: url('png/comment-square.png');
	background-repeat: no-repeat;
}



.icon-compass {
	background-image: url('png/compass.png');
	background-repeat: no-repeat;
}



.icon-contrast {
	background-image: url('png/contrast.png');
	background-repeat: no-repeat;
}



.icon-copywriting {
	background-image: url('png/copywriting.png');
	background-repeat: no-repeat;
}



.icon-credit-card {
	background-image: url('png/credit-card.png');
	background-repeat: no-repeat;
}



.icon-crop {
	background-image: url('png/crop.png');
	background-repeat: no-repeat;
}



.icon-dashboard {
	background-image: url('png/dashboard.png');
	background-repeat: no-repeat;
}



.icon-data-transfer-download {
	background-image: url('png/data-transfer-download.png');
	background-repeat: no-repeat;
}



.icon-data-transfer-upload {
	background-image: url('png/data-transfer-upload.png');
	background-repeat: no-repeat;
}



.icon-delete {
	background-image: url('png/delete.png');
	background-repeat: no-repeat;
}



.icon-dial {
	background-image: url('png/dial.png');
	background-repeat: no-repeat;
}



.icon-document {
	background-image: url('png/document.png');
	background-repeat: no-repeat;
}



.icon-dollar {
	background-image: url('png/dollar.png');
	background-repeat: no-repeat;
}



.icon-double-quote-sans-left {
	background-image: url('png/double-quote-sans-left.png');
	background-repeat: no-repeat;
}



.icon-double-quote-sans-right {
	background-image: url('png/double-quote-sans-right.png');
	background-repeat: no-repeat;
}



.icon-double-quote-serif-left {
	background-image: url('png/double-quote-serif-left.png');
	background-repeat: no-repeat;
}



.icon-double-quote-serif-right {
	background-image: url('png/double-quote-serif-right.png');
	background-repeat: no-repeat;
}



.icon-droplet {
	background-image: url('png/droplet.png');
	background-repeat: no-repeat;
}



.icon-eject {
	background-image: url('png/eject.png');
	background-repeat: no-repeat;
}



.icon-elevator {
	background-image: url('png/elevator.png');
	background-repeat: no-repeat;
}



.icon-ellipses {
	background-image: url('png/ellipses.png');
	background-repeat: no-repeat;
}



.icon-envelope-closed {
	background-image: url('png/envelope-closed.png');
	background-repeat: no-repeat;
}



.icon-envelope-open {
	background-image: url('png/envelope-open.png');
	background-repeat: no-repeat;
}



.icon-euro {
	background-image: url('png/euro.png');
	background-repeat: no-repeat;
}



.icon-excerpt {
	background-image: url('png/excerpt.png');
	background-repeat: no-repeat;
}



.icon-expand-down {
	background-image: url('png/expand-down.png');
	background-repeat: no-repeat;
}



.icon-expand-left {
	background-image: url('png/expand-left.png');
	background-repeat: no-repeat;
}



.icon-expand-right {
	background-image: url('png/expand-right.png');
	background-repeat: no-repeat;
}



.icon-expand-up {
	background-image: url('png/expand-up.png');
	background-repeat: no-repeat;
}



.icon-external-link {
	background-image: url('png/external-link.png');
	background-repeat: no-repeat;
}



.icon-eye {
	background-image: url('png/eye.png');
	background-repeat: no-repeat;
}



.icon-eyedropper {
	background-image: url('png/eyedropper.png');
	background-repeat: no-repeat;
}



.icon-file {
	background-image: url('png/file.png');
	background-repeat: no-repeat;
}



.icon-fire {
	background-image: url('png/fire.png');
	background-repeat: no-repeat;
}



.icon-flag {
	background-image: url('png/flag.png');
	background-repeat: no-repeat;
}



.icon-flash {
	background-image: url('png/flash.png');
	background-repeat: no-repeat;
}



.icon-folder {
	background-image: url('png/folder.png');
	background-repeat: no-repeat;
}



.icon-fork {
	background-image: url('png/fork.png');
	background-repeat: no-repeat;
}



.icon-fullscreen-enter {
	background-image: url('png/fullscreen-enter.png');
	background-repeat: no-repeat;
}



.icon-fullscreen-exit {
	background-image: url('png/fullscreen-exit.png');
	background-repeat: no-repeat;
}



.icon-globe {
	background-image: url('png/globe.png');
	background-repeat: no-repeat;
}



.icon-graph {
	background-image: url('png/graph.png');
	background-repeat: no-repeat;
}



.icon-grid-four-up {
	background-image: url('png/grid-four-up.png');
	background-repeat: no-repeat;
}



.icon-grid-three-up {
	background-image: url('png/grid-three-up.png');
	background-repeat: no-repeat;
}



.icon-grid-two-up {
	background-image: url('png/grid-two-up.png');
	background-repeat: no-repeat;
}



.icon-hard-drive {
	background-image: url('png/hard-drive.png');
	background-repeat: no-repeat;
}



.icon-header {
	background-image: url('png/header.png');
	background-repeat: no-repeat;
}



.icon-headphones {
	background-image: url('png/headphones.png');
	background-repeat: no-repeat;
}



.icon-heart {
	background-image: url('png/heart.png');
	background-repeat: no-repeat;
}



.icon-home {
	background-image: url('png/home.png');
	background-repeat: no-repeat;
}



.icon-image {
	background-image: url('png/image.png');
	background-repeat: no-repeat;
}



.icon-inbox {
	background-image: url('png/inbox.png');
	background-repeat: no-repeat;
}



.icon-infinity {
	background-image: url('png/infinity.png');
	background-repeat: no-repeat;
}



.icon-info {
	background-image: url('png/info.png');
	background-repeat: no-repeat;
}



.icon-italic {
	background-image: url('png/italic.png');
	background-repeat: no-repeat;
}



.icon-justify-center {
	background-image: url('png/justify-center.png');
	background-repeat: no-repeat;
}



.icon-justify-left {
	background-image: url('png/justify-left.png');
	background-repeat: no-repeat;
}



.icon-justify-right {
	background-image: url('png/justify-right.png');
	background-repeat: no-repeat;
}



.icon-key {
	background-image: url('png/key.png');
	background-repeat: no-repeat;
}



.icon-laptop {
	background-image: url('png/laptop.png');
	background-repeat: no-repeat;
}



.icon-layers {
	background-image: url('png/layers.png');
	background-repeat: no-repeat;
}



.icon-lightbulb {
	background-image: url('png/lightbulb.png');
	background-repeat: no-repeat;
}



.icon-link-broken {
	background-image: url('png/link-broken.png');
	background-repeat: no-repeat;
}



.icon-link-intact {
	background-image: url('png/link-intact.png');
	background-repeat: no-repeat;
}



.icon-list-rich {
	background-image: url('png/list-rich.png');
	background-repeat: no-repeat;
}



.icon-list {
	background-image: url('png/list.png');
	background-repeat: no-repeat;
}



.icon-location {
	background-image: url('png/location.png');
	background-repeat: no-repeat;
}



.icon-lock-locked {
	background-image: url('png/lock-locked.png');
	background-repeat: no-repeat;
}



.icon-lock-unlocked {
	background-image: url('png/lock-unlocked.png');
	background-repeat: no-repeat;
}



.icon-loop-circular {
	background-image: url('png/loop-circular.png');
	background-repeat: no-repeat;
}



.icon-loop-square {
	background-image: url('png/loop-square.png');
	background-repeat: no-repeat;
}



.icon-loop {
	background-image: url('png/loop.png');
	background-repeat: no-repeat;
}



.icon-magnifying-glass {
	background-image: url('png/magnifying-glass.png');
	background-repeat: no-repeat;
}



.icon-map-marker {
	background-image: url('png/map-marker.png');
	background-repeat: no-repeat;
}



.icon-map {
	background-image: url('png/map.png');
	background-repeat: no-repeat;
}



.icon-media-pause {
	background-image: url('png/media-pause.png');
	background-repeat: no-repeat;
}



.icon-media-play {
	background-image: url('png/media-play.png');
	background-repeat: no-repeat;
}



.icon-media-record {
	background-image: url('png/media-record.png');
	background-repeat: no-repeat;
}



.icon-media-skip-backward {
	background-image: url('png/media-skip-backward.png');
	background-repeat: no-repeat;
}



.icon-media-skip-forward {
	background-image: url('png/media-skip-forward.png');
	background-repeat: no-repeat;
}



.icon-media-step-backward {
	background-image: url('png/media-step-backward.png');
	background-repeat: no-repeat;
}



.icon-media-step-forward {
	background-image: url('png/media-step-forward.png');
	background-repeat: no-repeat;
}



.icon-media-stop {
	background-image: url('png/media-stop.png');
	background-repeat: no-repeat;
}



.icon-medical-cross {
	background-image: url('png/medical-cross.png');
	background-repeat: no-repeat;
}



.icon-menu {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
}



.icon-microphone {
	background-image: url('png/microphone.png');
	background-repeat: no-repeat;
}



.icon-minus {
	background-image: url('png/minus.png');
	background-repeat: no-repeat;
}



.icon-monitor {
	background-image: url('png/monitor.png');
	background-repeat: no-repeat;
}



.icon-moon {
	background-image: url('png/moon.png');
	background-repeat: no-repeat;
}



.icon-move {
	background-image: url('png/move.png');
	background-repeat: no-repeat;
}



.icon-musical-note {
	background-image: url('png/musical-note.png');
	background-repeat: no-repeat;
}



.icon-open-iconic {
	background-image: url('png/open-iconic.png');
	background-repeat: no-repeat;
}



.icon-paperclip {
	background-image: url('png/paperclip.png');
	background-repeat: no-repeat;
}



.icon-pencil {
	background-image: url('png/pencil.png');
	background-repeat: no-repeat;
}



.icon-people {
	background-image: url('png/people.png');
	background-repeat: no-repeat;
}



.icon-person {
	background-image: url('png/person.png');
	background-repeat: no-repeat;
}



.icon-phone {
	background-image: url('png/phone.png');
	background-repeat: no-repeat;
}



.icon-pie-chart {
	background-image: url('png/pie-chart.png');
	background-repeat: no-repeat;
}



.icon-pin {
	background-image: url('png/pin.png');
	background-repeat: no-repeat;
}



.icon-play-circle {
	background-image: url('png/play-circle.png');
	background-repeat: no-repeat;
}



.icon-plus {
	background-image: url('png/plus.png');
	background-repeat: no-repeat;
}



.icon-power-standby {
	background-image: url('png/power-standby.png');
	background-repeat: no-repeat;
}



.icon-print {
	background-image: url('png/print.png');
	background-repeat: no-repeat;
}



.icon-project {
	background-image: url('png/project.png');
	background-repeat: no-repeat;
}



.icon-pulse {
	background-image: url('png/pulse.png');
	background-repeat: no-repeat;
}



.icon-puzzle-piece {
	background-image: url('png/puzzle-piece.png');
	background-repeat: no-repeat;
}



.icon-question-mark {
	background-image: url('png/question-mark.png');
	background-repeat: no-repeat;
}



.icon-rain {
	background-image: url('png/rain.png');
	background-repeat: no-repeat;
}



.icon-random {
	background-image: url('png/random.png');
	background-repeat: no-repeat;
}



.icon-reload {
	background-image: url('png/reload.png');
	background-repeat: no-repeat;
}



.icon-resize-both {
	background-image: url('png/resize-both.png');
	background-repeat: no-repeat;
}



.icon-resize-height {
	background-image: url('png/resize-height.png');
	background-repeat: no-repeat;
}



.icon-resize-width {
	background-image: url('png/resize-width.png');
	background-repeat: no-repeat;
}



.icon-rss-alt {
	background-image: url('png/rss-alt.png');
	background-repeat: no-repeat;
}



.icon-rss {
	background-image: url('png/rss.png');
	background-repeat: no-repeat;
}



.icon-script {
	background-image: url('png/script.png');
	background-repeat: no-repeat;
}



.icon-share-boxed {
	background-image: url('png/share-boxed.png');
	background-repeat: no-repeat;
}



.icon-share {
	background-image: url('png/share.png');
	background-repeat: no-repeat;
}



.icon-shield {
	background-image: url('png/shield.png');
	background-repeat: no-repeat;
}



.icon-signal {
	background-image: url('png/signal.png');
	background-repeat: no-repeat;
}



.icon-signpost {
	background-image: url('png/signpost.png');
	background-repeat: no-repeat;
}



.icon-sort-ascending {
	background-image: url('png/sort-ascending.png');
	background-repeat: no-repeat;
}



.icon-sort-descending {
	background-image: url('png/sort-descending.png');
	background-repeat: no-repeat;
}



.icon-spreadsheet {
	background-image: url('png/spreadsheet.png');
	background-repeat: no-repeat;
}



.icon-star {
	background-image: url('png/star.png');
	background-repeat: no-repeat;
}



.icon-sun {
	background-image: url('png/sun.png');
	background-repeat: no-repeat;
}



.icon-tablet {
	background-image: url('png/tablet.png');
	background-repeat: no-repeat;
}



.icon-tag {
	background-image: url('png/tag.png');
	background-repeat: no-repeat;
}



.icon-tags {
	background-image: url('png/tags.png');
	background-repeat: no-repeat;
}



.icon-target {
	background-image: url('png/target.png');
	background-repeat: no-repeat;
}



.icon-task {
	background-image: url('png/task.png');
	background-repeat: no-repeat;
}



.icon-terminal {
	background-image: url('png/terminal.png');
	background-repeat: no-repeat;
}



.icon-text {
	background-image: url('png/text.png');
	background-repeat: no-repeat;
}



.icon-thumb-down {
	background-image: url('png/thumb-down.png');
	background-repeat: no-repeat;
}



.icon-thumb-up {
	background-image: url('png/thumb-up.png');
	background-repeat: no-repeat;
}



.icon-timer {
	background-image: url('png/timer.png');
	background-repeat: no-repeat;
}



.icon-transfer {
	background-image: url('png/transfer.png');
	background-repeat: no-repeat;
}



.icon-trash {
	background-image: url('png/trash.png');
	background-repeat: no-repeat;
}



.icon-underline {
	background-image: url('png/underline.png');
	background-repeat: no-repeat;
}



.icon-vertical-align-bottom {
	background-image: url('png/vertical-align-bottom.png');
	background-repeat: no-repeat;
}



.icon-vertical-align-center {
	background-image: url('png/vertical-align-center.png');
	background-repeat: no-repeat;
}



.icon-vertical-align-top {
	background-image: url('png/vertical-align-top.png');
	background-repeat: no-repeat;
}



.icon-video {
	background-image: url('png/video.png');
	background-repeat: no-repeat;
}



.icon-volume-high {
	background-image: url('png/volume-high.png');
	background-repeat: no-repeat;
}



.icon-volume-low {
	background-image: url('png/volume-low.png');
	background-repeat: no-repeat;
}



.icon-volume-off {
	background-image: url('png/volume-off.png');
	background-repeat: no-repeat;
}



.icon-warning {
	background-image: url('png/warning.png');
	background-repeat: no-repeat;
}



.icon-wifi {
	background-image: url('png/wifi.png');
	background-repeat: no-repeat;
}



.icon-wrench {
	background-image: url('png/wrench.png');
	background-repeat: no-repeat;
}



.icon-x {
	background-image: url('png/x.png');
	background-repeat: no-repeat;
}



.icon-yen {
	background-image: url('png/yen.png');
	background-repeat: no-repeat;
}



.icon-zoom-in {
	background-image: url('png/zoom-in.png');
	background-repeat: no-repeat;
}



.icon-zoom-out {
	background-image: url('png/zoom-out.png');
	background-repeat: no-repeat;
}


