@import '../settings';

$menu-transition-time: 200ms;

@mixin off-canvas-override() {

  .off-canvas {
    height: 100%;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .off-canvas-content {
    width: 100%;
    box-shadow: none;
  }

  .off-canvas-wrapper,
  .off-canvas-wrapper-inner {
    height: 100%;
		-webkit-overflow-scrolling: touch;
  }

  .off-canvas-wrapper-inner {
    display: flex;
  }

  @include breakpoint(small up) {

    .off-canvas.position-left {

      -webkit-transition: left $menu-transition-time ease-in-out;
      -moz-transition: left $menu-transition-time ease-in-out;
      -o-transition: left $menu-transition-time ease-in-out;
      transition: left $menu-transition-time ease-in-out;

      left: -#{$offcanvas-size};

    }

    .off-canvas-content {
      -webkit-transition: margin-left $menu-transition-time ease-in-out;
      -moz-transition: margin-left $menu-transition-time ease-in-out;
      -o-transition: margin-left $menu-transition-time ease-in-out;
      transition: margin-left $menu-transition-time ease-in-out;
      margin-left: 0;
    }

  }

  @include breakpoint(large) {

    .off-canvas.position-left {
      -webkit-transition: left $menu-transition-time ease-in-out;
      -moz-transition: left $menu-transition-time ease-in-out;
      -o-transition: left $menu-transition-time ease-in-out;
      transition: left $menu-transition-time ease-in-out;
      left: 0;
      width: $offcanvas-size;
      z-index: 0;
      position: fixed;
      border-right: 1px solid #e1e1e1;
    }

    .off-canvas-content {
      -webkit-transition: margin-left $menu-transition-time ease-in-out;
      -moz-transition: margin-left $menu-transition-time ease-in-out;
      -o-transition: margin-left $menu-transition-time ease-in-out;
      transition: margin-left $menu-transition-time ease-in-out;
      margin-left: $offcanvas-size;
    }


  }

}