<footer class="common-footer">
  <div class="row">
    <div class="columns">
      <ul class="menu align-center">
        <li><a href="https://twitter.com/zdfs" rel="me">@zdfs</a></li>
        <li><a href="https://github.com/zdfs" rel="me">github</a></li>
        <li><a href="https://www.flickr.com/photos/zdfs" rel="me">flickr</a></li>
        <li><a href="mailto:zdfs@zdfs.com.com" rel="me">email</a></li>
      </ul>
    </div>
  </div>
</footer>