{% cache globally %}
<nav class="top-bar" data-headroom>
  <ul class="menu primary-nav">
    <li><a href="/write">Write</a></li>
    <li><a href="/code">Code</a></li>
    <li><a href="/" class="logo">zdfs</a></li>
    <li><a href="/capture">Capture</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
{% endcache %}