<div class="off-canvas position-left reveal-for-large" data-off-canvas>
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="vertical menu">
    <li><a href="#">Write</a></li>
    <li><a href="#">Capture</a></li>
    <li><a href="#">Code</a></li>
    <li><a href="#">About</a></li>
  </ul>
</div>