{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}"/>
		{{ craft.minimee.css([
				'/styles/zdfs.css',
			])
		}}
	</head>
	<body class="no-js">
		<div id="container">

			{#{% include '_includes/common/top-bar.twig' %}#}

			<main id="content" role="main">
				{% block content %}
					<p>If you see me, you haven’t set your
						<code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
					<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template
							Inheritance</a> documentation for an explanation.</p>
				{% endblock %}
			</main>

			{#{% include '_includes/common/footer.twig' %}#}

		</div>
	</body>
</html>