{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}"/>
  <link rel="stylesheet" href="/styles/min/layout.css" />
  <noscript>
    <link rel="stylesheet" href="/styles/min/no-js.css" />
  </noscript>
{% block stylesheets %}{% endblock %}
</head>
<body>
  {#<div class="off-canvas-wrapper">#}
    {#<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>#}
      {#<div class="off-canvas position-left" data-off-canvas>#}
        {#<ul class="vertical menu">#}
        {#</ul>#}
      {#</div>#}
      <main id="content" role="main" class="off-canvas-content" data-off-canvas-content>
        <nav class="top-bar" data-headroom>
          <ul class="menu primary-nav">
            <li><a>Write</a></li>
            <li><a>Code</a></li>
            <li><a href="/" class="logo">zdfs</a></li>
            <li><a>Capture</a></li>
            <li><a>About</a></li>
          </ul>
        </nav>
{% block content %}
          <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
          <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
{% endblock %}
      </main>
    {#</div>#}
  {#</div>#}
  {% includeJsFile "/scripts/min/common.js" %}
{% block scripts %}{% endblock %}
</body>
</html>